#app {
  width: 100vw;
  padding: 2rem;  
  font-weight: normal;
  display: inline-block;
  max-height: 100vh;
}

nav {
  display: flex;
}

.tb-item {
  margin: 1rem;
}

.wrapper .a {
  margin: 1rem;
}

.tables {
  display: flex;
  max-height: 600px;
  margin: 2rem;
}

.table-item{
  flex: 20;
  margin: 5rem;
  min-width: 20rem;
}

.table-divider {
  flex: 5;
  margin: 2rem;
}

nav a{
  margin: 1rem;
}

.button-group {
  display: flex;
}

.button-group Button {
  margin: 1rem;
}

.logo {
  margin: 1rem;
  position: relative;
  top: 0rem;
  right: 0rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

}
